
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900";

@-webkit-keyframes GerakanKeKanan {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem); 
    }
    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @keyframes GerakanKeKanan {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10rem);
      transform: translateX(-10rem); 
    }
    80% {
      -webkit-transform: translateX(1rem);
      transform: translateX(1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @-webkit-keyframes GerakanKeKiri {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem); 
    }
    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @keyframes GerakanKeKiri {
    0% {
      opacity: 0;
      -webkit-transform: translateX(10rem);
      transform: translateX(10rem); 
    }
    80% {
      -webkit-transform: translateX(-1rem);
      transform: translateX(-1rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @-webkit-keyframes GerakanKeAtas {
    0% {
      opacity: 0;
      -webkit-transform: translateY(3rem);
      transform: translateY(3rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
  @keyframes GerakanKeAtas {
    0% {
      opacity: 0;
      -webkit-transform: translateY(3rem);
      transform: translateY(3rem); 
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0); 
    } 
  }
  
/*body {
    font-family: "Myriad Pro" !important;
    src: url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot");
     src: url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.eot?#iefix") format("embedded-opentype"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff2") format("woff2"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.woff") format("woff"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/3dd6e9888191722420f62dd54664bc94.svg#Myriad Pro") format("svg"); 
    background: #e5f1d9;
}*/

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  background: #e5f1d9;
}

body {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    background:#1A4066;
    /*background:#dadada;*/
}

.breadcrumb-profil-item {
  font-size:16px;
  z-index: 2;
}

.breadcrumb-profil-item + .breadcrumb-profil-item::before {
  content: "|  ";
  font-size: 20px;
  color:#000 ;
}

.breadcrumb-profil-item.active {
  color: #000000;
  font-size: 16px;
  font-weight: bold; 
}

.breadcrumb-pesan-item {
  font-size:16px;
  z-index: 2;
}

.breadcrumb-pesan-item + .breadcrumb-pesan-item::before {
  content: "|  ";
  font-size: 20px;
  color:#000 ;
}

.breadcrumb-pesan-item.active {
  color: #000000;
  font-size: 16px;
  font-weight: bold; 
}

.breadcrumb-profil-name {
  font-size:18px;
  font-weight: bold;
  font-style: italic;
}

.breadcrumb-profil-name + .breadcrumb-profil-name::before {
  content: "|  ";
  font-size: 25px;
  color:#000 ;
  font-weight: normal;
  font-style: normal;
}

.breadcrumb-profil-name.active {
  color: #000000;
  font-size: 18px;
  font-weight: bold; 
  font-style: italic;
}

.breadcrumb-item {
    font-size:30px;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " ";
  /*content: "|";
  font-size: 20px;
  color:#174C7C ; */
}
.breadcrumb-item.active {
  color: #000000;
  font-size: 30px;
  font-weight: bold; 
}

.button-collapse{

  margin-right: 10px;

}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
    /*background-color: #2779B2 !important;*/
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar .navbar-brand {
  color: #fff !important;
}

.navbar .navbar-brand img {
   width:200px;
   height:90px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.search_input_navbar {
    
    background: transparent !important;
    color: #ffffff !important;
    width: 100%;
    display: block;
    border: none;
    transition: .3s all; 
    border-bottom: 2px solid #ffffff;
}

.search_input_navbar:focus {
    background: transparent !important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: 2px solid #ffffff;
}

.search_input_navbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  text-align: center;
  font-weight: bold;
}

.search_input_navbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  text-align: center;
}

.search_input_navbar::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  text-align: center;
}

.search_botton_navbar {
  background-color: #174C7C !important;
  border: none;
  color: #ffffff;
  border-radius: 50%;
}

.search_botton_navbar:hover {
  background-color: #2779B2 !important;
  border: 2px solid #2779B2;
  color: #174C7C !important;
}

.button-burger-menu-nocart {
  position: relative;
  background-color:transparent;
  /*background-color: #2779B2;
  color: #2779B2;*/
  border-color:none;
  outline: none;
}

.button-burger-menu-nocart:hover, .button-burger-menu-nocart:active, .button-burger-menu-nocart:focus {
  background-color: none;
  /*color: #4db849;
  border-color:  #2779B2;*/
}

.button-burger-menu {
  position: absolute;
  background-color:transparent;
  /*background-color: #2779B2;
  color: #2779B2;*/
  border-color:none;
  outline: none;
}

.button-burger-menu:hover, .button-burger-menu:active, .button-burger-menu:focus {
  background-color: none;
  /*color: #4db849;
  border-color:  #2779B2;*/
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#bt_beli a{
  
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  border-radius: 10px;
  padding-right:25px;
  padding-left: 25px;
  padding-top:10px;
  padding-bottom: 10px;
  color: #ffffff;
  background-color: #5D2B30 !important;
  font-size: 25px;
  font-weight:800;
  margin-right:110px;
}

#bt_beli a:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#bt_beli a:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#bt_beli a:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#bt_beli a::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1;
  padding:15px;
  border-radius: 10px;
  color: #ffffff; 
  background-color:  #5D2B30 !important;
}

#bt_beli a:hover::after {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0; 
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 35%;
    position: fixed;
    top: 0;
    left: -35%;
    height: 100vh;
    z-index: 9999;
    background-color: #1A4066;
    /*opacity: 0.8;*/
    color: #ffffff !important;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 0;
    /*padding-left:7%;
    padding-right:7%;
    padding-top: 40px;
    padding-bottom: 35px;*/
    font-size: 18px;
    font-weight: 800;
    line-height: 1.38;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #4db849;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
  /*padding: 30px 0px 10px;
  text-align: center !important;
  
  /*background: #fff;*/
  text-align: left !important;
  color: #ffffff;
  margin-top:3rem;
  margin-left: 9rem;
}

#sidebar .sidebar-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#sidebar .sidebar-header p {
  color: #ffffff !important;
  font-weight: 600;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  z-index:1;
  margin-left: 9rem;
  margin-right: 9rem;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 700;
  display: block;
}

#sidebar ul .page-submenu li a {
  padding: 10px;
  font-size: 1.1em !important;
  display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #153651;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: white;
    /*background: #174C7C;*/

}

#collapse-4{
  overflow-y: auto; 
  /*max-height:450px;*/ 
  padding:5%;
}

#collapse-4 .card-body{
  height: 50vh;
}

@media (max-width: 768px){
  #collapse-4 .card-body{
    height: 57vh;
  }
}


 .beli-sekarang {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 70px;
}

.collapse{
  margin-bottom:50px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background:#174C7C;*/
    color: #ffffff;
}

ul.user-auth {
    padding: 20px;
}

ul.user-auth a {
    text-align: center;
    font-size: 1.1em !important;
    border-radius: 5px;
    margin-bottom: 5px;
}

button.search-sidebar {
    background: #fff;
    color: #2779B2;
    /*border: 2px solid #4db849;*/
    border:none;
}

button.search-sidebar:hover {
    background: #2779B2;
    color: #fff;
}

.search_input_sidebar {
    font-family: "Capriola", sans-serif;
    background: transparent !important;
    color: #ffffff !important;
    width: 100%;
    display: block;
    border: none;
    transition: .3s all; 
    border-bottom: 2px solid #4db849;
}

.search_input_sidebar:focus {
    background: transparent !important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: 2px solid #ffffff;
}

.search_input_sidebar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4db849;
    opacity: 1; /* Firefox */
}
  
.search_input_sidebar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4db849;
}
  
.search_input_sidebar::-ms-input-placeholder { /* Microsoft Edge */
    color: #4db849;
}

.btn_login_form{
 
  background: #FF0000 !important;
  color: #ffff!important;
  font-size: 20px;
  font-weight: 600;
  font-family: montserrat;
  padding-left:3rem;
  padding-right:3rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-top:20px;

}

.login-label h1{
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.login-label h3{
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.login-label h6{
  font-family: Montserrat;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.login-label p{
  
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

a.login {
  background: #fff !important;
  color: #174C7C!important;
  /*border: 2px solid #4db849 !important;*/
  border:none;
  font-size: 30px;
  font-weight: 800;
  
  padding-left:2rem;
  padding-right:2rem;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: -10px;
}

a.login:hover {
  background: #174C7C  !important;
  color: #fff !important;
}

a.register {
  color: #fff !important;
  font-size: 30px;
  font-weight: 800;
  
  line-height: 1.36;
  
}

a.register:hover {
  background: none;
  color:none;
}

#sidebar .social-icons a {
  margin-right: 10px;
  margin-left: 10px;
  font-size:20px;
  color: #fff;
 }

 #log .logout {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  margin-left: 9rem;
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #ffffff;
  background-color: #FF0000 !important;
  font-size: 16px;
  font-weight: 700; 
  padding:8px 54px;
}

#log .logout:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#log .logout:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#log .logout:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}


/* ---------------------------------------------------
    TOP PRODUCT STYLE
----------------------------------------------------- */

.top-product > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.top-product > .row > .col-md-4 {
  display: inline-block;
  float: none;
}

/* Decorations */
.top-product > .col-md-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.top-product > .col-md-4:nth-child(3n+1) { background: #c69; }
.top-product > .col-md-4:nth-child(3n+2) { background: #9c6; }
.top-product > .col-md-4:nth-child(3n+3) { background: #69c; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.warna{
  background: #6a3137;
  position: absolute;
  width: 100%;
  height: 30rem;
}

.dot-top-right {
    width: 200px;
    height: auto;
    background:transparent;
    position:absolute;
    top:0;
    right:0;
    border:none;
    z-index: 1;
 }

 .dot-top-right-nocart {
  width: 200px;
  height: auto;
  background:transparent;
  position:fixed;
  top:0;
  right:0;
  border:none;
  z-index: 1;
  opacity:0.5;
}

 .sidebar-dot-top-right {
  width: 250px;
  height: auto;
  background:transparent;
  position: absolute;
  margin-top:0;
  right:0;
  border:none;
  z-index: -1;
}

.sidebar-dot-bottom {
  width: 450px;
  height: auto;
  background:transparent;
  position: relative;
  margin-top:-18.5rem;
  border:none;
  z-index: -2;
}

 #content .dot-content-top-right {
  width: 220px;
  height: auto;
  background:transparent;
  position:absolute;
  top:0;
  right:0;
  border:none;
}

.shape-content-bottom-right {
  width: 260px;
  height: auto;
  background:transparent;
  position: absolute;
  bottom:16%;
  right:0;
  border:none;
}

.dot-content-bottom-left {
  width: 220px;
  height: auto;
  background:transparent;
  position:absolute;
  bottom:16%;
  left:0;
  border:none;
}

 .dot-bottom-left {
  width: 300px;
  height: auto;
  background:transparent;
  position:absolute;
  bottom:0;
  left:0;
  border:none;
  z-index: 1;
}

.dot-bottom-left-nocart {
  width: 200px;
  height: auto;
  background:transparent;
  position:fixed;
  bottom:0;
  left:0;
  border:none;
  z-index: 1;
  opacity:0.5;
}

.shape-bottom-right-nocart {
  position:fixed;
  bottom:0;
  right:0;
  border:none;
  z-index: 1;
  width: 240px;
  height: auto;
  background:transparent;
  opacity:0.5;
}

.shape-bottom-right {
  width: 300px;
  height: auto;
  background:transparent;
  position:absolute;
  bottom:0;
  right:0;
  border:none;
  z-index: 1;
}

 .shape-2 {
  right:-7rem;
  width: 50%;
  height: 30rem;
  top:0;
  margin-top: -22.5px;
  border-bottom-left-radius: 100%;
  background:#ffcc94;
  /*background:#ffd3a3;*/
  position: absolute;
  z-index: ;
}

#hero_cools{
    width: 100%;
    padding: 0 0 0 0;
    transition: all 0.3s;
    position: relative;
    background-color: #ffffff;
}

#content {
    width: 100%;
    padding: 0 0 0 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    background-color: #ffffff; 
}

#product_list{
  margin-bottom: -5rem;
}

@media (max-width: 768px){
  #product_list{
     margin-bottom: -2.5rem;
   }
  }

.cat_fil{
  font-size: 30px;
  font-weight: 
  bold;font-style:normal;
  line-height: 1.37;
  
}
.tombol{
  font-size: 30px;
}

.menu-filter{
  width:20%
}

.button-cari{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content .button_breadcrumb {
  -webkit-animation-name: GerakanKeKanan;
  animation-name: GerakanKeKanan;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  /*background-color: transparent !important;*/
  background-color: #ffffff;
}

#content .button_breadcrumb a:hover {
  color: #000;
}

#content .title-page {
    -webkit-animation-name: GerakanKeKanan;
    animation-name: GerakanKeKanan;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    font-size: 30px;font-weight: bold;font-style: normal;line-height: 1.37;color:#693234; 
}

#content .section_content {
    -webkit-animation-name: GerakanKeAtas;
    animation-name: GerakanKeAtas;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

#content .item_product{
  width:100%; 
  padding:0;
  border:4px solid #1A4066 !important; 
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  margin-bottom:8rem;
}

#content .item_product img{
  border-top-right-radius:20px;
  border-top-left-radius:20px; 
  height:250px;
}

#content .item_product_pop{
  width:100%; 
  padding:0;
  border:0.5px solid #bababa !important; 
  border-radius:20px;
  margin-bottom:8rem;
}

#content .item_product_pop img{
  border-top-right-radius:20px;
  border-top-left-radius:20px; 
  height:250px;
}

#content .cara_belanja{
  width:85%;
  padding-top:40px; 
  padding-right:40px;
  padding-left:40px;
  padding-bottom:0; 
  border-radius:15px;
  margin-left: 10px;
  margin-bottom: 4rem;
}

#content .cara_belanja:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

#content .cara_belanja img{
  width:90%; 
  height: auto;
 }

#content .cara_belanja h5{
  
  font-size: 50px;
  font-weight: 800;
  margin-left:-2rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #6a3137;
}

#content .cara_belanja p{
  
  margin-left:-2rem;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.contact-card{
border-radius: 10px;
background-color: #1A4066;
color: #ffffff;
}

.contact-card i {
  font-size: 40px;
}

.contact-tele-name, .contact-email-name{
  font-weight: 600;
}

.contact-tele-number, .contact-email{
  font-weight: bold;
}

#content .card-img-top{
  margin-bottom:2rem;
}

#content .item_product:hover {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

#content .embed-responsive {
  height: 25vh !important;
}

#content .product-price {
  float: left;
  color:#ffff !important; 
  width: 100%; 
  font-size: 23px; 
  font-weight: bold;
}

#content .product-price-header {
  float: left;
  color:#ffff !important; 
  line-height: 1.36;
  font-size:16px;
  font-weight: 600;
}

#content .product-price-header_pop {
  float: left;
  color:#000 !important; 
  line-height: 1.36;
  font-size:12px;
  font-weight: bold;
}

#content .product-price_pop {
  float: left;
  color:#000 !important; 
  width: 100%; 
  font-size: 16px; 
  font-weight: 900;
}

/*#content .button-plus-minus {
  float: right;
}*/

#content .button_plus, #content .button_minus {
  /*width: 25px; 
  height: 25px;
  color:#6a3137;*/
  font-size: 16px;
  font-weight: 800; 
  cursor:pointer;
}

#content .show {
  /*width: 25px; 
  height: 25px;*/
  color:#ffffff;
  font-size: 20px;
  font-weight: 800; 
}

#content .button_plus:hover, #content .button_minus:hover {
    border:none;
    background-color:#fff;
  /*border: 1px solid #28a745 !important;
    background-color: #fff !important;
    color: #28a745 !important;*/
}

#content .button_plus:focus, #content .button_minus:focus{
    outline:none;
    border:none;
    -webkit-appearance:none;
    box-shadow: none !important;
}

#content .button_plus:active, #content .button_minus:active{
  outline:none;
  border:none;
  -webkit-appearance:none;
  box-shadow: none !important;
}

#content .button_add_to_cart {
    text-decoration: none;
    display: inline-block;
    transition: .2s all;
    position: relative;
    z-index: 0;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #ffffff;
    background-color: #FF0000 !important;
    font-size: 16px;
    font-weight: 700; 
    padding:5px;
}

#content .button_add_to_cart:hover {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

 .button_profil {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #ffffff;
  background-color: #FF0000 !important;
  font-size: 16px;
  font-weight: 700; 
  padding:5px 20px;
}

.button_profil:hover {
  color:#ffffff;
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#accordion .button_add_to_pesan {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #ffffff;
  background-color: #FF0000 !important;
  font-size: 20px;
  font-weight: 600; 
  padding:10px;
}

#accordion .button_add_to_pesan:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_add_to_cart:focus {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .button_add_to_cart:active {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .button_add_to_cart:focus {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .button_add_to_cart:active {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .tbl_cart {
    width: 60%;
    padding-right:20px;
  }
  
.button_profil::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .2s all;
    opacity: 1;
    padding:5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #ffffff; 
    background-color:  #FF0000  !important;
}
  
#content .button_profil:hover::after {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; 
}

/* CONTACT */

#content .contact_card:hover {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

#storeForm .contact_input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-weight: 500;
   font-size:medium;
}

#storeForm .contact_input::-moz-placeholder { /* Firefox 19+ */
   font-weight: 500;
   font-size:medium;
}

#storeForm .contact_input::-ms-input-placeholder { /* IE 10+ */
    font-weight: 500;
    font-size:medium;
}
#storeForm .contact_input::-moz-placeholder { /* Firefox 18- */
    font-weight: 500;
    font-size:medium;
}

.contact_input {
  font-family: 'Montserrat';
  background: transparent !important;
  color: #777;
  width: 100%;
  display: block;
  text-align: center;
  font-size:20px ;
  font-weight: 600;
  border: none;
  border-radius:0;
  transition: .3s all; 
  border-bottom: none;
}

.contact_input:focus {
    background: transparent !important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border-bottom: none;
}

.contact_input:focus:invalid {
    /*border-bottom: 2px solid  #5D2B30;*/
    border-bottom: none; 
  }
  
  .contact_label {
    display: block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 100;
    opacity: 1;
    transition: .7s all; 
  }
  
  .contact_input:placeholder-shown + .contact_label {
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
    opacity: 0; 
    font-weight: bold;
  }

  #content .button_send {
    text-decoration: none;
    display: inline-block;
    transition: .2s all;
    position: relative;
    z-index: 0;
    border: none;
    background-color: #28a745 !important;
}

#content .button_send:hover {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_send:focus {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
  }

  #content .button_send:active {
    outline:0px !important;
    -webkit-appearance:none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
  }
  
#content .button_send::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .2s all;
    opacity: 1; 
    background-color: #4db849 !important;
}
  
#content .button_send:hover::after {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    opacity: 0; 
}

/* DETAIL PAGE */

#content .button_back {
  -webkit-animation-name: GerakanKeKanan;
  animation-name: GerakanKeKanan;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

#content .fa-arrow-left:hover {
  color: #28a745;
}

/* SHOPPING CART */

#content .cart_card:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.cart_input {
  font-family: "Capriola", sans-serif;
  background: transparent !important;
  color: #777;
  width: 100%;
  display: block;
  border: none;
  transition: .3s all; 
  border-bottom: 2px solid rgba(116, 116, 116, 0.507);
}

.cart_input:focus {
  background: transparent !important;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border-bottom: 2px solid rgb(0, 184, 40);
}

.cart_input:focus:invalid {
  border-bottom: 2px solid rgb(255, 174, 0); 
}

.cart_label {
  display: block;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 100;
  opacity: 1;
  transition: .7s all; 
}

.cart_input:placeholder-shown + .cart_label {
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  opacity: 0; 
}


#content .button_order {
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #28a745 !important;
}

#content .button_order:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_order:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_order:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_order::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #28a745 !important;
}

#content .button_order:hover::after {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  opacity: 0; 
}

/* MODAL PEMBAYARAN */

#content .button_pay {
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #28a745 !important;
}

#content .button_pay:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_pay:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_pay:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_pay::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #28a745 !important;
}

#content .button_pay:hover::after {
  -webkit-transform: scale(1.4, 1.7);
  transform: scale(1.4, 1.7);
  opacity: 0; 
}

.form__radio--group {
  width: 100%;
  display: inline-block; }
  

.form__radio--label {
  font-weight: 600;
  position: relative;
  padding-left: 30px;
  cursor: pointer; 
}

.form__radio--button {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border: 5px solid #55c57a;
  position: absolute;
  left: 0;
  border-radius: 100%; 
  margin: 20px 0;
}
  .form__radio--button::after {
    content: "";
    display: inline-block;
    width: 70%;
    height: 70%;
    background: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100%;
    opacity: 0;
    transition: .3s all; 
  }

.form__radio--input:checked + .form__radio--label .form__radio--button::after {
  opacity: 1; }


/* CARA BERBELANJA */

#content .button_see_product {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #4db849 !important;
}

#content .button_see_product:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_see_product:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_see_product:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_see_product::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #28a745 !important;
}

#content .button_see_product:hover::after {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0; 
}


/* ============ Footer =============== */
#footer {
    background-color:#1A4066;
    padding-top: 7rem;
    padding-bottom: 2rem;
    position: relative;
}

#footer h5 {
    color:#AA3C3B;
    font-weight: 1000;
    font-size: 2rem;
}

#footer p {
  color:#ffff;
  font-weight: 600;
  font-size: 16px;
}

#footer .social-icons a {
    margin-top: 3rem;
    margin-right: 15px;
    margin-left: 15px;
    font-size:30px;
    color: #fff;
}

.copyright p {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

footer.footer {
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle !important;
  border-top: 2px solid #dfe7d9;
  display: block;
  background-color: #fff !important;
}
/*
footer.footer p {
  color: #4db849 !important;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer.footer .cart .count-cart-one {
  position: absolute; 
  right: 10px;
  top: 2px;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 500;
}

footer.footer .cart .count-cart-two {
  position: absolute; 
  right: 7px;
  top: 3px;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 500;
}

footer.footer .cart .count-cart-three {
  position: absolute; 
  right: 10px;
  top: 5px;
  color: #ffffff !important;
  font-size: 13px !important;
  font-weight: 500;
}
*/

/* BUTTON */

#content .button_success_block {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #6a3137 !important;
}

#content .button_success_block:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_success_block:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_success_block:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button_success_block::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #6a3137 !important;
}

#content .button_success_block:hover::after {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  opacity: 0; 
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

#bannerSlide .carousel-inner img {
  height: 80vh;
}

#content .button-pesan {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  background-color: #4db849 !important;
  color: #fff !important;
}

#content .button-pesan:hover {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button-pesan:focus {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button-pesan:active {
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0px 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

#content .button-pesan::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: .2s all;
  opacity: 1; 
  background-color: #4db849 !important;
}

#content .button-pesan:hover::after {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0; 
}

#content .total-bottom-fixed {
  position: fixed; 
  bottom: 3rem; 
  left: 50%; 
  background: #28a745; 
  transform: translate(-50%, 0px); 
  z-index: 9999; 
  border-radius: 100px !important; 
  width: 80%;
}

#shoppingCart .img-product  {
  width: 50%;
} 

#shoppingCart .img-product  img {
  width: 60%;
} 



#ex4 .p1[data-count]:after{
  position:absolute;
  right:20%;
  top:4%;
  content: attr(data-count);
  font-size:50%;
  font-weight: 900;
  padding:0.4em;
  border-radius:100%;
  line-height:1em;
  color: white;
  background:#FFD700;
  text-align:center;
  min-width: 1.8em;
  
}

.fixed-bottom{
  margin-left:0;
  margin-right:0;
  border-radius:0;
}

#card-cart{
  background-color:#DADADA;
  border-radius:0; 
  height:60px;
}

#ex4 .fa-shopping-cart{
  margin-top:10px;
  font-size: 3rem;
  color: #ffffff
}

#card-cart h5{
  color: #153651;
  font-weight: 600;
}

#card-detail .image-detail{
  border:1px solid #ddd;
  border-radius:10px; 
  width:200px; 
  height:auto;
  margin-bottom: 15%;
}

#card-detail p{
  color: #0000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
@media (max-width: 600px){
  .dtl_prd_bns{
    font-size: 2vw;
  }
}
/*
#card-detail h2{
  color: #174C7C;
  font-weig 
}*/


#card-detail .button_minus .button_plus .d-inline{
  color:#174C7C;
  font-size: 20px;
  font-weight: 800; 
  cursor:pointer; 
}

#card-detail .d-inline{
  color:#174C7C;
  font-size: 24px;
  font-weight: 800; 
  cursor:pointer; 
}

#cv .fa-chevron-up{
  color: #ffffff; 
  font-size:2em;
}

#card-detail .btn-default{
  color:#424141;
  background-color:transparent;
  font-size:20px;
  font-weight: 600; 
  padding-top:7px; 
  padding-bottom:7px;
  outline: none;
  border: none;
}

.bt-wa {
  text-decoration: none;
  display: inline-block;
  transition: .2s all;
  position: relative;
  z-index: 0;
  border: none;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #ffffff;
  background-color: #FF0000 !important;
  font-size: 20px;
  font-weight: 600; 
  padding:10px;
}

.bt-wa:hover {
  color: #ffffff;
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

.btn-preview-cancel {
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #ffffff;
  background-color: #FF0000 !important;
  font-weight: 600;
  margin-top:-4.5rem;
  
}

@media screen and (max-width:411px){
  
  .btn-preview-cancel {
    position: relative;
    margin-top:-5.5rem;
    margin-bottom: 3.5rem;
  }

}


.btn-preview-cancel:hover {
  color: #ffffff;
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

.btn-preview-order {
  
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #ffffff;
  background-color: green !important;
  font-weight: 600;
}

.btn-preview-order:hover {
  color: #ffffff;
  outline:0px !important;
  -webkit-appearance:none;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3); 
}

.heading-profil{
  font-size: 40px;
  font-weight:bold;
  color:#FF0000;
  line-height: 1;
}

.name-profil{
  font-size:25px;
  font-weight:bold;
  color:#1A4066;
}

.image-profil-user{
  position: absolute;
  width:230px;
  height:230px;
  left:23%;
  top:27%;
  
}

.input-avatar{
  padding:4px;
  outline: none;
  height: 37px;
  font-weight: 500;
  font-size: 1em; 
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.text-hero{
  position:absolute;
  right:7rem;
  top:10rem;
  color: #ffffff;
}

.text-hero h1{
  font-size: 70px;
}

.power{
 font-weight: 800;
}

.text-hero hr{
  width:650px;
  border-top: 1.5px solid #ffffff;
}

.profil-row{
  margin-top:2rem;
  -webkit-animation-name: GerakanKeKanan;
  animation-name: GerakanKeKanan;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  /*background-color: transparent !important;*/
  background-color: #ffffff;
}

.contact-row{
  margin-top:0;
}

.head_pop_prod{
  color:#1A4066;
  font-weight: bold;
}

@media (max-width: 425px){
  .head_pop_prod{
    font-size:4vw;
  }
}

.input_item_pop{
  padding-left: 2.8vw;
  padding-right: 2.8vw;
}

.bt-add-paket{
  font-size: 2vh;
}

@media (max-width: 600px){
  .bt-add-paket{
  margin-bottom: 15px;
  }
}

.text-qty-paket{
  font-size: 2vh;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-horizontal img{
  border-radius: 20px;
  height: auto;
}

@media (max-width: 425px){
  .card-horizontal img{
    margin-top:1rem;
  }
}

.round {
  position: absolute;
  right:1.3vw;
  top:1vw;
}

@media (max-width: 600px){
  .round{
    right:3.5vw;
    top:2vw;;
  }
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

/*paket*/
.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 10px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #cbcdcf;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="checkbox"]:disabled + label{
  background: #cbcdcf;
}

   /*bonus*/
   .round_bns {
    position: absolute;
    left:1vw;
    top:1vw;
  }

  @media (max-width: 600px){
    .round_bns{
      left:2vw;
      top:2vw;
    }
  }
  
  .round_bns label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .round_bns label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transform: rotate(-45deg);
    width: 10px;
  }
  
  .round_bns input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round_bns input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #cbcdcf;
  }
  
  .round_bns input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  
  .round_bns input[type="checkbox"]:disabled + label{
    background: #cbcdcf;
  }

  .margin_paket_pop{
    margin-left: 0;
    margin-right: 0;
  }
